@page "/"
@using AShoppingCart.Pages.Cart

<button class="btn btn-primary" @onclick="@(()=>_change=!_change)" >@_status</button>
@if (_change)
{
    <View></View>
}
else
{
    <Add></Add>
} 

@code{  
    private bool _change { get; set; } = true;
    private string _status => _change ? "Thêm" : "Quay lại"; 
}