@using AShoppingCart.Data
@inject Control _cart
<form>
    <div class="form-group">
        <label for="contentname">Content Name</label>
        <input class="form-control" id="contentname" @bind="@cart.Name" placeholder="Enter content">
    </div>
    <div class="form-group">
        <label for="money">Money</label>
        <input class="form-control" id="money" @bind="@cart.Price" placeholder="Nhập số tiền">
    </div>
    <div class="form-group">
        <label for="count">Số Lượng</label>
        <input class="form-control" id="count" @bind="@cart.Quantity" placeholder="Nhập số lượng">
    </div>
    <div class="form-group">
        <label for="img">Link ảnh</label>
        <input class="form-control" id="img" @bind="cart.Image" placeholder="Nhập link ảnh">
    </div>
    <div class="form-inline">
        <button type="button" class="btn btn-primary" @onclick="AddItem">Thêm</button>
        <button type="button" class="btn btn-primary" @onclick="Reset">Reset</button>
    </div>
</form>

@code {
    Cart cart { get; set; } = new Cart();
    void Reset()
    {
        cart = new Cart(); 

    }
    void AddItem()
    {
        _cart.AddData(cart); 
        Reset();
    }
}

